html, body { height: 100%; width: 100%; margin: 0; padding: 0; font-family: "Nunito Sans", serif; }
a { color: #333333; }
a:visited { color: #333333;}
code {
  width: auto;
  background: whitesmoke;
  padding: 15px;
  border-radius: 5px;
  display: block;
}
footer { position: absolute; bottom: 50; text-align: center; width: 100%; }
footer a { text-decoration: none; font-weight: bold; }
#head {
	background: white;
	top: 0;
	width: 100%
}
#head a { margin-right: 10px; color: black; font-weight: bold; text-decoration: none; }
#container { height: auto; max-width: 1600px; margin: 0 auto; text-align: center; padding: 20px;}
#content { max-width: 1024px; margin: 0 auto; text-align: left;}
#desc { margin-bottom: 10px; }
#main { max-width: 600px; justify-items: center; text-align: center; padding: 150px 10px 10px 10px; margin: 0 auto; }
#title { font-size: 3em; font-weight: bold; margin-bottom: 10px; }
#brand {
  display: inline-block;
  padding: 20px;
}
#install {
   width: 100px;
}
#nav {
  float: right;
  padding: 20px;
}
.block {
   width: 250px;
   display: block;
}
.block, button {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}
.block:hover, button:hover {
   cursor: pointer;
   background: whitesmoke;
}
button {
  background: white;
}
button:hover {
  background: whitesmoke;
}
table {
  width: 100%;
}
table, td, th {
  text-align: left;
}
th {
  border-bottom: 1px solid darkgrey;
}
td {
  border-bottom: 1px solid darkgrey;
  padding: 5px 25px 5px 0;
}
ul {
  list-style-type: none;
}
.right {
  text-align: right;
}
.you {
  font-size: small;
  font-weight: bold;
  color: black;
  display: block;
}
.llm {
  font-size: small;
  font-weight: bold;
  color: darkgrey;
  display: block;
}
#chat-form {
        width: 100%;
        margin: 0;
}
#messages {
        flex-grow: 1;
        height: calc(100vh - 175px);
        border-radius 5px;
	border: 1px solid darkgrey;
        text-align: left;
        overflow-y: auto;
	padding: 10px;
}
.message {
        margin-bottom: 10px;
        width: 100%;
        display: block;
}
#prompt {
        flex-shrink: 0;
        width: calc(100% - 40px);
        padding: 10px;
        margin-top: 10px;
}
#chat-form button {
        padding: 10px;
        margin-top: 10px;
        width: auto;
}
.category {
  margin-bottom: 5px;
  display: block;
}
.head {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}
.headline {
  margin-bottom: 20px;
}
.headline a {
  font-weight: bold;
  text-decoration: none;
}
.ticker {
  margin-right: 10px;
}
.news {
  margin-bottom: 20px;
}
.news a {
  text-decoration: none;
}
.cover {
  width: 200px;
  height: auto;
  min-height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 3px;
  background: whitesmoke;
}
.blurb {
 display: inline-block;
 vertical-align: top;
 max-width: 600px;
}
.text {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}
.description {
  font-size: 1em;
  font-weight: normal;
}
@media only screen and (max-width: 600px) {
  #head a { margin-right: 5px; }
  #messages {
    height: calc(100vh - 200px);
  }
}
