name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: root
          port: 61194
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd /root/go/src/github/micro/mu
            git pull origin main
            source ~/.env
            go install
            killall mu || true
            sleep 1
            nohup ~/go/bin/mu --serve --address=:8081 &> ~/mu.log &
